.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-image-1 {
  min-height: 494px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/Untitled2.png");
  background-size: cover;
  margin-top: 0;
  margin-bottom: 58px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3.125rem;
  margin: 64px 785px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 785px 0 0;
}

.u-section-1 .u-image-2 {
  width: 677px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 79px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 585px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 61px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 385px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 385px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 245px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 245px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 45px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 45px;
  }
} .u-section-2 {
  background-position: 76.72% 97.18%;
  background-repeat: no-repeat;
  background-size: auto 170%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1057px;
}

.u-section-2 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 259px;
  height: 517px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 517px;
  height: 259px;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform-origin: center center;
}

.u-section-2 .u-group-1 {
  width: 796px;
  min-height: 715px;
  height: auto;
  margin: -487px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-2 {
  width: 326px;
  height: 259px;
  margin: 41px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 28px 20px 0;
}

.u-section-2 .u-text-2 {
  margin: 28px 50px 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 904px;
  margin: 0 99px 40px auto;
}

.u-section-2 .u-image-3 {
  background-image: url("images/1.png");
  min-height: 292px;
  background-position: 50% 50%;
  background-size: auto 125%;
}

.u-section-2 .u-image-4 {
  min-height: 292px;
  background-image: url("images/9.png");
  background-size: auto 125%;
}

.u-section-2 .u-image-5 {
  background-image: url("images/6.png");
  min-height: 292px;
  background-position: 50% 50%;
  background-size: auto 125%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin: 83px 120px 0 auto;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: 136px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 230px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 210px;
  }

  .u-section-2 .u-image-3 {
    min-height: 233px;
  }

  .u-section-2 .u-image-4 {
    min-height: 233px;
  }

  .u-section-2 .u-image-5 {
    min-height: 233px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1813px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 320px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 300px;
  }

  .u-section-2 .u-image-3 {
    min-height: 524px;
  }

  .u-section-2 .u-image-4 {
    min-height: 524px;
  }

  .u-section-2 .u-image-5 {
    min-height: 524px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1425px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 170px;
    margin-right: 400px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 57px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 400px;
  }

  .u-section-2 .u-image-3 {
    min-height: 330px;
  }

  .u-section-2 .u-image-4 {
    min-height: 330px;
  }

  .u-section-2 .u-image-5 {
    min-height: 330px;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 880px;
}

.u-section-3 .u-image-1 {
  height: 472px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-3 .u-group-1 {
  min-height: 767px;
  height: auto;
  margin: -360px 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 30px 30px 0;
}

.u-section-3 .u-text-2 {
  margin: 24px 150px 0 283px;
}

.u-section-3 .u-image-2 {
  width: 465px;
  height: 356px;
  animation-timing-function: ease;
  margin: -356px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: 22px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  background-image: none;
  margin: -407px auto 61px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 347px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 220px;
  height: 220px;
  background-image: url("images/stelaz.png");
  background-position: 50% 50%;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px 30px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 347px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 220px;
  height: 220px;
  transition-duration: 0.5s;
  background-image: url("images/swiecznik.png");
  background-position: 50% 50%;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 30px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  transition-duration: 0.5s;
  width: 225px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 21px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 347px;
}

.u-section-3 .u-container-layout-4 {
  padding: 26px 30px;
}

.u-section-3 .u-image-5 {
  width: 220px;
  height: 220px;
  background-image: url("images/wazon.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 347px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  width: 220px;
  height: 220px;
  background-image: url("images/inne.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.875rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-3 .u-group-1 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 50px;
    margin-left: 183px;
  }

  .u-section-3 .u-image-2 {
    width: 531px;
    transform-origin: center center;
    transform: translateX(-50%) translateY(-50%) rotate(270deg);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 286px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-image-5 {
    width: 175px;
    height: 175px;
  }

  .u-section-3 .u-layout-cell-4 {
    transition-duration: 0.5s;
    transform: scale(1.1) translateX(0px) translateY(0px);
    min-height: 286px;
  }

  .u-section-3 .u-image-6 {
    width: 175px;
    height: 175px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-3 .u-image-2 {
    width: 419px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    width: 180px;
    height: 180px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    width: 204px;
    height: 204px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 40px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 40px;
    margin-right: 35px;
    margin-left: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 420px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1311px;
  }

  .u-section-3 .u-image-2 {
    width: 388px;
    margin-top: -550px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 33px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-image-3 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-color: #c39ea0 !important;
  box-shadow: 0px 0px 8px 5px rgba(195,158,160,1) !important;
}

.u-container-layout.hover > .u-section-3 .u-image-3 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-color: #c39ea0 !important;
  box-shadow: 0px 0px 8px 5px rgba(195,158,160,1) !important;
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-3 {
  transform: translateX(0px) translateY(5px) !important;
  color: #000000 !important;
}

.u-container-layout.hover > .u-section-3 .u-text-3 {
  transform: translateX(0px) translateY(5px) !important;
  color: #000000 !important;
}

.u-section-3 .u-image-4,
.u-section-3 .u-image-4:before,
.u-section-3 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-image-4 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-color: #c39ea0 !important;
  box-shadow: 0px 0px 8px 5px rgba(195,158,160,1) !important;
}

.u-container-layout.hover > .u-section-3 .u-image-4 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-color: #c39ea0 !important;
  box-shadow: 0px 0px 8px 5px rgba(195,158,160,1) !important;
}

.u-section-3 .u-text-4,
.u-section-3 .u-text-4:before,
.u-section-3 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-4 {
  transform: translateX(0px) translateY(5px) !important;
}

.u-container-layout.hover > .u-section-3 .u-text-4 {
  transform: translateX(0px) translateY(5px) !important;
}

.u-section-3 .u-image-5,
.u-section-3 .u-image-5:before,
.u-section-3 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-image-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-color: #c39ea0 !important;
  box-shadow: 0px 0px 8px 5px rgba(195,158,160,1) !important;
}

.u-container-layout.hover > .u-section-3 .u-image-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-color: #c39ea0 !important;
  box-shadow: 0px 0px 8px 5px rgba(195,158,160,1) !important;
}

.u-section-3 .u-text-5,
.u-section-3 .u-text-5:before,
.u-section-3 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-5 {
  transform: translateX(0px) translateY(5px) !important;
}

.u-container-layout.hover > .u-section-3 .u-text-5 {
  transform: translateX(0px) translateY(5px) !important;
}

.u-section-3 .u-image-6,
.u-section-3 .u-image-6:before,
.u-section-3 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-image-6 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-color: #c39ea0 !important;
  box-shadow: 0px 0px 8px 5px rgba(195,158,160,1) !important;
}

.u-container-layout.hover > .u-section-3 .u-image-6 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-color: #c39ea0 !important;
  box-shadow: 0px 0px 8px 5px rgba(195,158,160,1) !important;
}

.u-section-3 .u-text-6,
.u-section-3 .u-text-6:before,
.u-section-3 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-6 {
  transform: translateX(0px) translateY(5px) !important;
}

.u-container-layout.hover > .u-section-3 .u-text-6 {
  transform: translateX(0px) translateY(5px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 659px;
}

.u-section-4 .u-shape-1 {
  width: 304px;
  height: 462px;
  margin: 99px auto 0 391px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -502px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 563px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 28px;
  padding-right: 114px;
}

.u-section-4 .u-image-1 {
  width: 28px;
  height: 370px;
  margin: 148px -56px 0 582px;
}

.u-section-4 .u-text-1 {
  margin: -380px 0 0;
}

.u-section-4 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 28px 416px 0 0;
}

.u-section-4 .u-image-2 {
  background-image: url("images/pexelsphoto931178.jpeg");
  min-height: 563px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-shape-1 {
    width: 251px;
    margin-left: 322px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 23px;
    padding-right: 94px;
  }

  .u-section-4 .u-image-1 {
    width: 23px;
    margin-right: -46px;
    margin-left: 480px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 343px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-4 .u-shape-1 {
    width: 192px;
    margin-top: 71px;
    margin-left: 244px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 72px;
  }

  .u-section-4 .u-image-1 {
    width: 18px;
    margin-right: -35px;
    margin-left: 367px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-4 .u-shape-1 {
    width: 360px;
    margin-top: 115px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -548px;
    margin-bottom: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    z-index: 2;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 54px;
  }

  .u-section-4 .u-image-1 {
    width: 32px;
    margin-top: 145px;
    margin-right: -32px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -377px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 335px;
  }

  .u-section-4 .u-image-2 {
    z-index: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-4 .u-shape-1 {
    width: 274px;
    height: 218px;
    margin-top: 73px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -162px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 34px;
  }

  .u-section-4 .u-image-1 {
    width: 34px;
    margin-top: -128px;
    margin-right: -34px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -104px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 160px;
  }
} .u-section-5 {
  min-height: 649px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 58px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 567px;
}

.u-section-5 .u-shape-1 {
  width: 548px;
  height: 438px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  width: 348px;
  height: 436px;
  margin: -352px auto 0 100px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 567px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  margin: 38px 20px 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 118px 0 20px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin: 20px 267px 0 20px;
}

.u-section-5 .u-image-2 {
  width: 330px;
  height: 531px;
  margin: -304px -99px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 550px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-5 .u-shape-1 {
    width: 451px;
  }

  .u-section-5 .u-image-1 {
    width: 287px;
    margin-bottom: -8px;
    margin-left: 82px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 61px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    position: relative;
    margin-right: 210px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 440px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-5 .u-shape-1 {
    width: 369px;
    height: 382px;
    margin-top: 56px;
  }

  .u-section-5 .u-image-1 {
    width: 310px;
    margin-top: -309px;
    margin-bottom: 0;
    margin-left: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 637px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 139px;
    margin-left: 13px;
  }

  .u-section-5 .u-image-2 {
    width: 218px;
    height: 365px;
    margin-top: -107px;
    margin-right: -57px;
    margin-bottom: -31px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 617px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-5 .u-shape-1 {
    width: 437px;
    height: 438px;
    margin-top: 0;
  }

  .u-section-5 .u-image-1 {
    width: 342px;
    margin-top: -402px;
    margin-left: 47px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 456px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-5 .u-shape-1 {
    width: 272px;
    height: 343px;
    margin-top: 44px;
  }

  .u-section-5 .u-image-1 {
    width: 229px;
    height: 426px;
    margin-top: -321px;
    margin-left: 22px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-6 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/Untitled61.png");
  background-size: cover;
}

.u-section-6 .u-sheet-1 {
  min-height: 697px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 940px;
  margin: 147px auto 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/pexelsphoto759668.jpeg");
  min-height: 292px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-2 {
  background-image: url("images/pexelsphoto265736.jpeg");
  min-height: 292px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-3 {
  background-image: url("images/pexelsphoto931168.jpeg");
  min-height: 292px;
  background-position: 50% 50%;
}

.u-section-6 .u-group-1 {
  width: 940px;
  min-height: 213px;
  height: auto;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  position: relative;
  background-image: none;
  margin: 20px 789px 20px 0;
}

.u-section-6 .u-image-4 {
  width: 28px;
  height: 380px;
  margin: -463px 33px 83px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1218px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 775px;
    margin-left: 182px;
  }

  .u-section-6 .u-group-1 {
    width: 775px;
    height: auto;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 651px;
  }

  .u-section-6 .u-image-4 {
    width: 23px;
    margin-right: 127px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 594px;
    margin-top: 669px;
    margin-left: 273px;
  }

  .u-section-6 .u-image-1 {
    min-height: 224px;
  }

  .u-section-6 .u-image-2 {
    min-height: 224px;
  }

  .u-section-6 .u-image-3 {
    min-height: 224px;
  }

  .u-section-6 .u-group-1 {
    width: 594px;
    margin-left: 273px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 498px;
  }

  .u-section-6 .u-image-4 {
    width: 18px;
    margin-right: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1934px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 291px;
    margin-top: 1205px;
    margin-left: 425px;
  }

  .u-section-6 .u-image-1 {
    min-height: 504px;
  }

  .u-section-6 .u-image-2 {
    min-height: 504px;
  }

  .u-section-6 .u-image-3 {
    min-height: 504px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 374px;
  }

  .u-section-6 .u-image-4 {
    width: 29px;
    margin-top: -705px;
    margin-right: 348px;
    margin-bottom: 427px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1560px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 202px;
    margin-top: 1199px;
    margin-left: 415px;
  }

  .u-section-6 .u-image-1 {
    min-height: 317px;
  }

  .u-section-6 .u-image-2 {
    min-height: 317px;
  }

  .u-section-6 .u-image-3 {
    min-height: 317px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 235px;
  }

  .u-section-6 .u-image-4 {
    width: 36px;
    margin-top: -907px;
    margin-right: 428px;
    margin-bottom: 558px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 597px;
}

.u-section-7 .u-image-1 {
  width: 288px;
  left: 0;
  right: auto;
}

.u-section-7 .u-layout-wrap-1 {
  width: 910px;
  margin: 53px calc(((100% - 1140px) / 2)) 53px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 511px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-7 .u-text-1 {
  margin: 71px -1px 0 0;
}

.u-section-7 .u-form-1 {
  height: 308px;
  width: 405px;
  margin: 20px 20px 50px 0;
}

.u-section-7 .u-form-group-3 {
  margin-left: 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
}

.u-section-7 .u-image-2 {
  background-image: url("images/pexelsphoto1244700.jpeg");
  min-height: 511px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    width: 237px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 750px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-7 .u-form-1 {
    width: 334px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 490px;
  }

  .u-section-7 .u-image-1 {
    width: 182px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 642px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-7 .u-form-1 {
    width: 256px;
    margin-right: 13px;
  }

  .u-section-7 .u-image-2 {
    min-height: 404px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 792px;
  }

  .u-section-7 .u-image-1 {
    width: 357px;
    height: 716px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 392px auto 0 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 539px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7 .u-form-1 {
    width: 366px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    min-height: 606px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 568px;
  }

  .u-section-7 .u-image-1 {
    width: 356px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-7 .u-form-1 {
    margin-right: 6px;
    margin-left: 14px;
    width: 321px;
  }

  .u-section-7 .u-image-2 {
    min-height: 382px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 523px;
}

.u-section-8 .u-slider-1 {
  min-height: 413px;
  width: 893px;
  height: auto;
  margin: 55px auto;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-8 .u-carousel-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-8 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-8 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-8 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-8 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-8 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-8 .u-slider-1 {
    min-height: 453px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-8 .u-slider-1 {
    min-height: 479px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-8 .u-slider-1 {
    min-height: 571px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}